<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="css/default/header.css" />
    <link rel="stylesheet" href="css/default/footer.css" />
    <link rel="stylesheet" href="css/home/carousel.css" />
    <link rel="stylesheet" href="css/home/last-news.css" />
    <link rel="stylesheet" href="css/home/pet-world.css" />
    <link rel="stylesheet" href="css/home/modal.css" />
    <link rel="stylesheet" href="css/pet/card.css" />
    <link rel="stylesheet" href="css/news-screen/news.css" />
    <link rel="stylesheet" href="css/buttons/button.css" />
    <link rel="stylesheet" href="css/news-content/content.css" />
    <link rel="stylesheet" href="css/post/post.css" />
    <link rel="stylesheet" href="css/partners/partners.css" />

    <title>Petpet</title>
</head>

<body>
    <main class="partners">
        <p class="partners__title">Os nossos parceiros</p>
        <p class="partners__description">Orgulhosamente colaboramos com ONGs dedicadas e veterinárias comprometidas em nossa missão de promover o
            bem-estar dos animais. Nossos parceiros são fundamentais para a realização dessa jornada, fornecendo
            cuidados de qualidade e apoio às famílias que desejam adotar e cuidar de seus pets. Juntos, fazemos a
            diferença na vida dos nossos amigos de quatro patas.</p>
        <div class="partners__cards">
            <div class="card__partner">
                <div class="partner__logo">
                    <img class="partner__image" src="public/pets/parceiro.png">
                </div>
                <div class="partner__info">
                    <p class="partner__title">SOS Animais Pelotas</p>
                </div>
            </div>
            <div class="card__partner">
                <div class="partner__logo">
                    <img class="partner__image" src="public/partners/salva_pet.png">
                </div>
                <div class="partner__info">
                    <p class="partner__title">ONG Salva pets</p>
                </div>
            </div>
            <div class="card__partner">
                <div class="partner__logo">
                    <img class="partner__image" src="public/partners/canina.png">
                </div>
                <div class="partner__info">
                    <p class="partner__title">ONG Canina</p>
                </div>
            </div>
            <div class="card__partner">
                <div class="partner__logo">
                    <img class="partner__image" src="public/partners/para_todos.png">
                </div>
                <div class="partner__info">
                    <p class="partner__title">ONG para todos</p>
                </div>
            </div>
            <div class="card__partner">
                <div class="partner__logo">
                    <img class="partner__image" src="public/partners/pet_vida.png">
                </div>
                <div class="partner__info">
                    <p class="partner__title">Veterinária PetVida</p>
                </div>
            </div>
            <div class="card__partner">
                <div class="partner__logo">
                    <img class="partner__image" src="public/partners/frost.png">
                </div>
                <div class="partner__info">
                    <p class="partner__title">Veterinária Minten</p>
                </div>
            </div>
        </div>


    </main>
</body>

</html>