<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="css/default/header.css" />
    <link rel="stylesheet" href="css/default/footer.css" />
    <link rel="stylesheet" href="css/home/carousel.css" />
    <link rel="stylesheet" href="css/home/last-news.css" />
    <link rel="stylesheet" href="css/home/pet-world.css" />
    <link rel="stylesheet" href="css/home/modal.css" />
    <link rel="stylesheet" href="css/pet/card.css" />
    <link rel="stylesheet" href="css/news-screen/news.css" />
    <link rel="stylesheet" href="css/buttons/button.css" />
    <link rel="stylesheet" href="css/news-content/content.css" />
    <link rel="stylesheet" href="css/post/post.css" />

    <title>Petpet</title>
</head>

<body>
    <main class="post">
        <div class="post__header">
            <img src="public/post/arrow-left.svg" alt="" />
            <p class="post__title">Princesa</p>
        </div>
        <div class="post__cards">
            <img class="post__photo" src="public/post/princesa.jpg" alt="" />


            <div class="card card__pet bordered card__post">
                <div class="shadow"></div>
                <div class="post__edit"><img class="post__image" src="public/post/edit.svg" alt="" /></div>
                <div class="card__info post_info">
                    <p class="pet__sex">Sexo: Fêmea</p>
                    <p class="pet__size">Porte: Pequeno</p>
                    <p class="pet__race">Raça: SRD Pelo curto</p>
                    <p class="pet__age post__font">Idade: 1,5 anos</p>
                    <p class="pet__about pet__about__post ">
                        <span post__font>Sobre mim:
                            Sou carinhosa, brincalhona e adoro correr.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <span class="contact__margin">
            <p class="contact">Contato do tutor</p>
        </span>

        <div class="user_data">
            <div>
                <p class="contact user__contact">Nome: Gabriel Cunha Huber</p>
                <p class="contact user__contact"> Telefone: (53) 98123-4567</p>
                <p class="contact user__contact">Bairro: Fragata</p>
            </div>
            <div>
                <p class="contact user__contact">Email: gabrielchuber@gmail.com</p>
            </div>
        </div>

        <p class="contact user__email">Quer adotar este animal? <span class="contact user__email email__color">Faça o
                login</span></p>

    </main>
</body>

</html>