.user-posts-container {
    max-width: 1440px;
    /* display: grid;
    grid-template-columns: minmax(0, 1174px) minmax(0, 266px); */
    display: flex;
    flex: 1;
}


.user-posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column;

    flex: 1;
    background-color: var(--white);

    padding-top: 3.75rem;
}

.user-address-wrapper {
    background-color: var(--secondary-300);
}

.user-address-content {
    display: flex;
    flex-direction: column;

    margin: 5.937rem 0.562rem 17.437rem 1rem;

    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
}

.user-address-content p:not(:last-child) {
    margin-bottom: 1rem;
}