.card-container {
    display: flex;
    width: 777px;

    overflow: hidden;
    border-radius: 4px;

    margin-top: 3.75rem;
}

.card-container:last-child {
    margin-bottom: 2.5rem;
}


.card-image {
    max-width: 268px;
    max-height: 280px;

    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    background: var(--neutral-75);
    padding: 1.375rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header p {
    font-size: 1.875rem;
    font-weight: 400;

    margin-bottom: 1.875rem;
}

.card-header span img:hover {
    cursor: pointer;
}

.card-pet-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-pet-info span {
    font-size: 1.437rem;
}

.card-pet-info:last-child span {
    width: 100%;
    font-size: 1.437rem;
    max-height: 50px;
    overflow: hidden;
}

@media screen and (max-width: 1048px) {
    .card-container {
        display: flex;
        width: 666px;

        overflow: hidden;
        border-radius: 4px;
        margin-top: 3.75rem;
    }

    .card-container:last-child {
        margin-bottom: 2.5rem;
    }


    .card-image {
        max-width: 168px;
        max-height: 180px;
        object-fit: cover;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        background: var(--neutral-75);
        padding: 1.375rem;
    }

    .card-header p {
        font-size: 1rem;
        font-weight: 400;

        margin-bottom: 1rem;
    }

    .card-header p {
        font-size: 1rem;
        font-weight: 400;

        margin-bottom: 1rem;
    }

    .card-header>span>img {
        height: 25px;
        width: 25px;
    }

    .card-pet-info span {
        font-size: 1rem;
    }

    .card-pet-info:last-child span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 936px) {
    .card-container {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        border-radius: 4px;

        justify-content: space-between;
        align-items: center;

        overflow: hidden;
    }

    .card-image {
        min-width: 258px;
        min-height: 280px;

        object-fit: cover;
    }

    .card-pet-info span {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-pet-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .card-pet-info span {
        margin: 0.5rem 0;
    }
}