:root{
    --white: #ffffff;

    --neutral-50: #F5F7FA;
    --neutral-75: #D9D8D9;
    --neutral-100: #ABBED1;
    --neutral-200: #89939E;
    --neutral-500: #717171;
    --neutral-600: #4D4D4D;
    --neutral-700: #212121;

    --primary-100: #C2FFDC;
    --primary-200: #8BF0B6;
    --primary-300: #66DE99;
    --primary-400: #2ECC71;
    --primary-500: #1CAD5A;
    --primary-600: #077033;

    --secondary-100: #FCBA95;
    --secondary-200: #E08755;
    --secondary-300: #CC6125;
    --secondary-400: #A34510;
    --secondary-500: #6E2902;

    --success-100: #F1FBF8;
    --success-200: #84DFC1;
    --success-300: #32C997;
    --success-400: #009262;
    --success-500: #1B6E53;
    --success-600: #115B43;

    --warning-100: #FFF8EC;
    --warning-200: #FFD596;
    --warning-300: #FFC670;
    --warning-400: #FFB240;
    --warning-500: #FFA826;
    --warning-600: #E48900;


    --danger-100: #FFF1F0;
    --danger-200: #F0857D;
    --danger-300: #FF5A4F;
    --danger-400: #E02B1D;
    --danger-500: #E01507;
    --danger-600: #C33025;

    --important-500: #015dae;
    --important-600: #004A8C;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --webkit-font-smoothing: antialiased;
    background-color: var(--primary-500);

    display:flex;
    flex-direction: column;
    min-height: 100vh
}



body, input, textarea, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

main {
    flex: 1;
}
