header {
    background-color: var(--secondary-300);
    width: 100%;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.header-logo-and-links {
    display: flex;
    align-items: center;
}

.header-logo-box {
    background-color: var(--neutral-500);
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    margin-left: 3rem;

}

.header-links {
    color: var(--neutral-700);
    text-decoration: none;

}

.header-links:hover {
    cursor: pointer;
    color: var(--neutral-50);
}

.header-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login-button {
    width: 9.125rem;
    height: 2.40rem;
    border: 1px solid var(--primary-600);
    background-color: var(--white);
    border-radius: 6px;
    color: var(--primary-600);

    box-shadow: 1px 2px 5px rgb(0 0 0 / 0.6);
}

.login-button:hover {
    cursor: pointer;
    background-color: #e6e6e7;
}

.signin-button {
    width: 9.125rem;
    height: 2.40rem;
    border: none;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--important-600);

    box-shadow: 1px 2px 5px rgb(0 0 0 / 0.6);

}

.signin-button:hover {
    cursor: pointer;
    background-color: var(--important-500);
}

@media screen and (max-width: 900px) {
    .header-buttons{
        display:flex;
        flex-direction: column;
    }
}