.last-news-container {
    margin-top: 4.3rem;

    display: flex;
    justify-content: center;

    margin-bottom: 5rem;
}

.last-news-wrapper {
    max-width: 1440px;
}

.last-news-header {
    display: flex;
    align-items: center;

    gap: 3.437rem;

    margin-bottom: 55px;
}

.last-news-title {
    font-size: 56px;
}

.last-news-button {
    width: 11rem;
    height: 3.125rem;
    border: none;

    background: var(--important-600);
    border-radius: 20px;
    color: var(--white)
}

.last-news-button:hover {
    cursor: pointer;
    background: var(--important-500);
}


.last-news-card-wrapper {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    gap: 2.562rem
}

.last-news-card {
    display: flex;
    flex-direction: column;

    max-width: 425px;
    max-height: 425px;

    border-radius: 20px;
    overflow: hidden;

    background: var(--white);
}



.card-image {
    height: 185px;
}

.last-news-card-tag {
    margin: 0.75rem 0.68rem;
}

.last-news-card-title {
    margin-left: 0.75rem;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-news-card-content {
    margin-top: auto;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 6rem;
    padding: 0 0.562rem 1.562rem 0.687rem;

}

.card-image image {
    object-fit: contain;
}



@media screen and (max-width: 1400px) {
    .last-news-card  {
        max-width: 350px;
        max-height: 390px;
    }
    .last-news-card-tag {
        font-size: 14px;
        margin: 0.3rem 0.68rem;
    }
    .last-news-card-title{
        font-size: 1.2rem;
    }

    .last-news-card-content{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1000px) {
    .last-news-card-wrapper  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
}